[ ca ]
default_ca = CA_default

[ CA_default ]
dir               = /var/lib/omni-srv-admin/pki
certs             = $dir/certs
crl_dir           = $dir/crl
database          = $dir/db/index.txt
new_certs_dir     = $dir/certs
certificate       = $dir/certs/issuing-ca.crt.pem
serial            = $dir/db/serial
crlnumber         = $dir/db/crlnumber
crl               = $dir/crl/issuing-ca.crl.pem
private_key       = $dir/private/issuing-ca.key.pem
default_md        = sha256
name_opt          = ca_default
cert_opt          = ca_default
default_days      = 397
preserve          = no
policy            = policy_loose

[ policy_loose ]
countryName             = optional
stateOrProvinceName     = optional
localityName            = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

[ root_ca_extensions ]
basicConstraints = critical, CA:TRUE, pathlen:1
keyUsage = critical, keyCertSign, cRLSign
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer

[ issuing_ca_extensions ]
basicConstraints = critical, CA:TRUE, pathlen:0
keyUsage = critical, keyCertSign, cRLSign
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer

[ server_cert ]
basicConstraints = critical, CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth, clientAuth
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer
